<html lang="en" ng-app='ticTacToe'>
<head>
    <meta charset="UTF-8">
    <title>Tic Tac Toe</title>
    <!-- <script src="angular.js" type="text/javascript"></script> -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular.min.js" type="text/javascript"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.2/underscore-min.js" type="text/javascript"></script>
<link rel="stylesheet" type="text/css" href="main.css"></head>
<body>
    <div class="container">
        <div ng-controller="TicTacToeCtrl">

            <div class="score">
                <table class="score-table">
                    <thead>
                        <tr>
                            <th>X-Wins</td>
                            <th>O-Wins</td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>{{ getScore()['X'] || 0}}</td>
                            <td>{{  getScore()['O'] || 0}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
<!-- Game board and overlays -->
            <div class="gameBoard">
                <!-- Board -->
                <div class="game">
                    <table class="game-table">
                        <tr ng-animate="'animate'"
                        ng-repeat="dimension in canvasArray(canvas_size)">
                            <td ng-repeat="dimension in canvasArray(canvas_size)"
                                ng-class="{'won': checkWin(),
                                           'empty': !checkWin() || gameStart()}"
                                ng-click="updateMoves($parent.$index,  $index)">
                                {{ game[$parent.$index][$index] }}
                            </td>
                        </tr>
                    </table>
                </div>

<!-- Overlays -->
                <div class="gameOver" ng-show="!checkWin() && gameOver()">
                    <div class="gameResults">
                    Game over!
                    </div>


                    <div class="buttons">
                        <div class="btn-play-again" ng-click="playAgain()">Play again</div>
                        <div class="reset" ng-click="reset()">Start all over</div>
                    </div>

                </div>
                <div class="gameOver" ng-show="checkWin()">
                    <div class="gameResults">
                    {{ lastWinner() }} Won!
                    </div>
                    <div class="buttons">
                        <div class="btn-play-again" ng-click="playAgain()">Play again</div>
                        <div class="reset" ng-click="reset()">Start all over</div>
                    </div>
                </div>

            </div>
            <!-- <div class="playerMode">
                <div class="multiPlayer"
                     ng-show="multiplayer"
                     ng-init="disabled = gameStart()"
                     ng-disabled='disabled'
                     ng-click="disabled || setComputerPlayer()">
                     Two Players
                </div>
                <div class="singlelayer"
                     ng-hide="multiplayer"
                     ng-init="disabled = gameStart()"
                     ng-disabled='disabled'
                     ng-click="disabled || setComputerPlayer()">
                     Play Against Super Computer
                </div>
            </div> -->
            <footer>
                &copy Ilya Krasnov
            </footer>
        </div>
    </div>

    <script src="myApp.js"></script>
</body>
</html>